.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;

  &--solid {
    background-color: $primary-color-light;
    padding: 10px 20px;
    transition: all 0.2s;
    border-radius: 2px;

    &:hover {
      background-color: $primary-color;
    }
  }

  &--shape-circle {
    flex: 0 0 auto;

    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: background-color 0.4s;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &--shape-circle#{&}--size-md {
    width: 35px;
    height: 35px;
    font-size: 1.2em;
  }

  &--shape-circle#{&}--size-lg {
    width: 40px;
    height: 40px;
    font-size: 1.4em;
  }

  &--shape-circle#{&}--type-solid {
    background-color: $primary-color-lighter;

    &:hover,
    &:focus {
      background-color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  &--type-solid.is-disabled {
    background-color: rgba(0, 0, 0, 0.05) !important;
  }

  &.is-disabled {
    background-color: $primary-color-light;
    cursor: default;
  }
  &--block {
    display: block;
    width: 100%;
  }
}
