.editor {
  height: 100%;
  display: flex;

  &__panel {
    width: 300px;
  }

  &__viewport {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    background-color: rgb(245, 245, 245);

    user-select: none;
  }

  &__hierarchy {
    overflow-y: auto;
  }

  &__viewport-modules {
    padding-top: 25px;
    flex: 1 1 auto;
    padding: 50px;
    overflow: auto;
  }

  &__viewport-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  &__hierarchy-controls {
    margin-top: auto;
    padding: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__hierarchy-control-add-button {
    display: block;
  }
}
