.module-hierarchy-item {
  // padding: 10px;
  // background-color: rgba(0, 0, 0, 0.1);

  transition: all 0.2s;

  &.is-selected > &__inner > &__header {
    background-color: hsl(161, 100%, 80%);
  }

  &__id {
    color: rgb(130, 130, 130);
    font-size: 10px;
    margin-bottom: 3px;
  }

  // &.has-children
  //   > &__inner
  //   > &__body
  //   > .module-hierarchy__list
  //   > &
  //   > &__inner
  //   > &__header
  //   > &__header-inner {
  //   border-left: 1px solid #000;
  // }

  &__header {
    // margin-bottom: 5px;
    padding-right: 10px;
    user-select: none;
    transition: all 0.2s;
    cursor: pointer;

    &:hover {
      background-color: hsl(161, 100%, 90%);
    }

    // &::before {
    //   content: "";
    //   left: 0;
    //   position: absolute;
    //   width: 10px;
    //   height: 1px;
    //   background-color: black;
    // }
  }

  &__header:hover &__control-list {
    opacity: 1;
  }

  &__header-inner {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 10px 0;

    &::before {
      content: "";
      width: 1px;
      background: rgb(140, 140, 140);
      height: 100%;
      position: absolute;
      opacity: 0;
      top: 0;
      z-index: 1;
    }
  }

  &.has-children
    > &__inner
    > &__body
    > .module-hierarchy__list
    > &
    > &__inner
    > &__header
    &__header-inner {
    &::before {
      opacity: 1;
    }
  }

  &.is-collapsed > &__inner > &__body {
    display: none;
  }

  &__header-left {
    width: 20px;
    display: flex;
    // justify-content: center;
    align-items: center;
    margin-right: 2px;
  }

  &__collapse-btn {
    display: inline-flex;
    transform-origin: center center;
    transition: all 0.2s;
    margin-left: 3px;
  }

  &.is-collapsed > &__inner > &__header &__collapse-btn {
    transform: rotate(-90deg);
  }

  &__control-list {
    display: flex;
    margin-left: auto;
    opacity: 0;
    transition: all 0.2s;
  }

  &:not(:last-child) {
    // margin-bottom: 10px;
  }

  // padding: 10px;

  &__name {
    line-height: 1;
  }
}
