.module {
  $primary-color: #e0efff;
  $secondary-color: #c1dfff;
  $border-width: 5px;

  --primary-color: #{$primary-color};
  --border-width: 5px;

  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  height: 100%;

  border: $border-width solid var(--primary-color);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.05);

  &:hover {
    --primary-color: #{$secondary-color};
  }

  &__inner {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;

    padding: $border-width 0;
    background-color: var(--primary-color);
  }

  &__title {
    line-height: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    & > * {
      flex: 1 1 auto;
    }
  }

  &--type-layout {
  }
}
