.modal {
  $transition-duration: 0.4s;

  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;

  z-index: 1000;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    visibility: hidden;
    transition: visibility 0s $transition-duration;
    pointer-events: all;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity $transition-duration;
  }

  &__dialog {
    position: relative;
    padding: 30px 15px;
    background-color: #fff;
    transform: translate3d(0, -100%, 0);
    transition: all $transition-duration;
    opacity: 0;
  }

  &__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  &__subtitle {
    color: $text-secondary-color;
  }

  &__header {
    position: relative;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }

  &__close-button {
    position: absolute;
    right: 0;
    top: 0;
  }

  &.is-open & {
    &__inner {
      visibility: visible;
      transition: visibility 0s 0s;
    }

    &__background {
      opacity: 1;
    }

    &__dialog {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
