.panel {
  display: flex;
  flex-direction: column;

  height: 100%;

  overflow: hidden;
  padding: 25px 0;

  &__header {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    height: 20px;
    padding: 0 $edges-padding-md;
    margin-bottom: 25px;
  }

  &__footer {
    flex: 0 0 auto;
    height: 50px;
    padding: 0 $edges-padding-md;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__body {
    overflow: hidden auto;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}
