.view {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    background-color: #000;
    height: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__body {
    flex: 1 1 auto;
    height: 100%;
    overflow-y: auto;
  }
}
