$selected-module-color: #fff;
$hovered-module-color: #fff;
$primary-color: hsl(161, 100%, 80%);
$primary-color-light: hsl(161, 100%, 90%);
$primary-color-lighter: hsl(161, 100%, 95%);

$text-primary-color: #000;
$text-secondary-color: hsl(0, 0%, 77%);

$edges-padding-xs: 5px;
$edges-padding-sm: 10px;
$edges-padding-md: 15px;
$edges-padding-lg: 20px;
$edges-padding-xl: 30px;
